<div class="block">
    <div class="block-section">
        <h4 class="sub-header">Button Groups and Dropdowns</h4>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="btn-group">
                    <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-alt btn-primary dropdown-toggle">Alternative <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-custom text-left">
                        <li class="dropdown-header">Header</li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-plus pull-right"></i>Action</a>
                            <a href="javascript:void(0)"><i class="fa fa-video-camera pull-right"></i>Another Action</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-pencil pull-right"></i>Edit</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu text-left">
                        <li class="dropdown-header">Header</li>
                        <li><a href="javascript:void(0)">Action</a></li>
                        <li><a href="javascript:void(0)">Another Action</a></li>
                        <li class="divider"></li>
                        <li class="disabled"><a href="javascript:void(0)">Disabled</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="btn-group dropup text-left">
                    <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-alt btn-success dropdown-toggle">Alternative <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-custom">
                        <li class="dropdown-header">Header</li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-plus pull-right"></i>Action</a>
                            <a href="javascript:void(0)"><i class="fa fa-video-camera pull-right"></i>Another Action</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-pencil pull-right"></i>Edit</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group dropup text-left">
                    <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-success dropdown-toggle">Dropup <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Header</li>
                        <li><a href="javascript:void(0)">Action</a></li>
                        <li><a href="javascript:void(0)">Another Action</a></li>
                        <li class="divider"></li>
                        <li class="disabled"><a href="javascript:void(0)">Disabled</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="btn-group">
                    <div class="btn-group">
                        <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-alt btn-danger dropdown-toggle"><span class="caret"></span></a>
                        <ul class="dropdown-menu text-left">
                            <li class="dropdown-header">Header</li>
                            <li><a href="javascript:void(0)">Action</a></li>
                            <li><a href="javascript:void(0)">Another Action</a></li>
                            <li class="divider"></li>
                            <li class="disabled"><a href="javascript:void(0)">Disabled</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-alt btn-danger"><i class="fa fa-cog"></i></a>
                    <a class="btn btn-alt btn-danger">Split</a>
                </div>
            </div>
            <a class="ajaxFetch" href="/manage/index/ajax_fetch?id=2&name=bill" title="">这是一条测试连接</a>
            <form>
                <div id="queue"></div>
                <input class="file_upload" id="file_upload" queueID='queue' name="file_upload" type="file" multiple="true">
                <a style="position: relative; top: 8px;" href="javascript:$('#file_upload').uploadifive('upload')">确定上传</a>
            </form>
        </div>
    </div>
</div>