<div class="form-group" id="checkbox_list">
    <label class="col-md-4 control-label">{$label_name}</label>
    <div class="col-md-8" style="margin-left:-10px;">
        <foreach name="list" item="single">
            <label class="checkbox-inline" <if condition="$key eq 0" >
                style="margin-left:10px;"
            </if> for="{$single['en_name']}">
                <input type="checkbox" id="{$single['en_name']}" name="{$single['en_name']}" value="{$single['zh_name']}"> {$single['zh_name']}
            </label>
        </foreach>
        <span class="help-block">{$help_block}</span>
    </div>
</div>