<div class="block user-full-form">
    <div class="block-section">
        <h4 class="sub-header">表单全部组件展示</h4>
        <div class="row">
            <form id="basic-wizard" action="page_forms_wizard.php" method="post" class="form-horizontal form-bordered ui-formwizard">
                {:W('Form/Input', array('road_num', 'road_num', '输入框', $road_num, '这是一个输入框'))}
                {:W('Form/check_box_list', array($list, '多选框'))}
                {:W('Form/upload', array('pic3', 'pic3', '预览图3',  $pic3, 'qid3'))}
                {:W('Form/phone', array('phone', 'phone', '电话号码', $phone, '请填写电话号码'))}
                {:W('Form/timer', array('begin_time', 'begin_time', '开始时间(24h)', $begin_time))}
                <div class="form-group">
                    <label class="col-md-4 control-label">隐藏框</label>
                    {:W('Form/hidden_input', array('station_sort', 'station_sort', ''))}
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">搜索右框</label>
                    <div class="col-md-8" id="sort_station_list" style="margin-left:-30px;">
                        {:W('Form/search', array('search', 'search', '搜索', '请输入名字', 'right'))}
                    </div>
                </div>
                {:W('Form/multiple_select', array('select', 'select', $muloptions, '多选下拉选项', '请选择姓名(可多选)'))}
                {:W('Form/single_select', array('sselect', 'sselect', $single_options, '单选下拉选项', '请选择姓名'))}
                {:W('Form/checkbox', array('checkbox', 'checkbox', 'checkbox按钮'))}
                {:W('Form/spinner', array('queue', 'queue', '排序', 3, '数值越大，越靠前'))}
                {:W('Form/Textarea', array('summary', 'summary', '店铺描述', $summary, '请填写店铺描述'))}
                {:W('Form/ueditor', array('editor', 'editor', '商铺详情', $value, '数值越大，越靠前'))}
            </form>
        </div>
    </div>
</div>