<div class="form-group">
    <label class="col-md-4 control-label" for="{$id}">{$label_name}</label>
    <div class="col-md-6">
        <div id="spinner" class="input-group spinner user-spinner" data-trigger="spinner">
          <input type="text" name="{$name}" id="{$id}" value="{$spinner_value}" data-rule="quantity" class="form-control">
          <span class="input-group-addon">
            <a href="javascript:;" class="spin-up" data-spin="up"><i class="icon-sort-up"></i></a>
            <a href="javascript:;" class="spin-down" data-spin="down"><i class="icon-sort-down"></i></a>
          </span>
        </div>
        <span class="help-block">{$help_block}</span>
    </div>
</div>